{% extends '_layouts/main' %}

{% block main %}


   <section class="hero is-medium is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
                {{ entry.heroHeader }}
              </h1>

              <p>{{ entry.heroSubheader }}</p>
            
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure class="image is-228x228">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                      </figure>
                </div>
                <div class="column">
                    <h3 class="title is-3">{{ entry.aboutMelissaHeader }}</h3>
                   {{ entry.aboutMelissaIntro}}

                  </div>
                
        </div>
      </section>

      <section class="section">
          <div class="container">

              <h3 class="title is-3 has-text-centered">Our Client List</h3>

               {% for block in entry.clientLogos %}
            
                {% switch block.type %}
                {% case "rowOfLogos" %}    

               

              <div class="columns">
                  <div class="column">
                      <figure class="image is-128x128">
                         {% for asset in block.logoOne %}

                            <img src="{{ asset.url }}">

                        {% endfor %}
                        </figure>
                  </div>
                  <div class="column">
                      <figure class="image is-128x128">
                          {% for asset in block.logoTwo %}

                            <img src="{{ asset.url }}">

                        {% endfor %}
                        </figure>
                  </div>
                  <div class="column">
                      <figure class="image is-128x128">
                          {% for asset in block.logoThree %}

                            <img src="{{ asset.url }}">

                        {% endfor %}
                        </figure>
                  </div>
                  <div class="column">
                      <figure class="image is-128x128">
                          {% for asset in block.logoFour %}

                            <img src="{{ asset.url }}">

                        {% endfor %}
                        </figure>
                  </div>

                   <div class="column">
                      <figure class="image is-128x128">
                          {% for asset in block.logoFive %}

                            <img src="{{ asset.url }}">

                        {% endfor %}
                        </figure>
                  </div> 

                </div>

                {% endswitch %}

                {% endfor %}
              

          </div>
        </section>

        <section class="more-clients" id="clientList">

            <div class="container" v-show="isShowing">
                {% if entry.listOfMoreClients|length %}
                    
                    {% for row in entry.listOfMoreClients %}
                    <div class="columns" >
                        <div class="column is-one-third">{{ row.clientNameFirst }}</div>
                        <div class="column">{{ row.clientNameSecond}}</div>
                        <div class="column">{{ row.clientNameThird }}</div>
                    </div>
                    {% endfor %}
                        
                {% endif %}
            </div>    

            <div class="container has-text-centered">
                <div class="coloumn">
                    <button @click="isShowing = true">More Clients</button>
                </div>
            </div> 
               
        </section>


         <section class="section">
          <div class="container">


          {% if entry.homeNumbers|length %}

          {% if entry.homeNumbersDescription|length %}

           <div class="columns">
                  <div class="column">
                      <div><span class="number"> 
                        {% for row in entry.homeNumbers %}
                        {{ row.numberOne }} 
                        {% endfor %}
                      </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberOneDescription }} 
                        {% endfor %}
                      </span>
                  </div>
                  <div class="column">
                      <div><span class="number"> 
                       {% for row in entry.homeNumbers %}
                        {{ row.numberTwo }} 
                        {% endfor %}
                       </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberTwoDescription }} 
                        {% endfor %}
                      </span>
                  </div>
                  <div class="column">
                     <div><span class="number"> 
                       {% for row in entry.homeNumbers %}
                        {{ row.numberThree }} 
                        {% endfor %}
                       </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberThreeDescription }} 
                        {% endfor %}
                      </span>
                  </div>
                  <div class="column">
                      <div><span class="number"> 
                       {% for row in entry.homeNumbers %}
                        {{ row.numberFour }} 
                        {% endfor %}
                       </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberFourDescription }} 
                        {% endfor %}
                      </span>
                  </div>
            </div>
               

                
            {% endif %}       
                
            {% endif %}
          
             
          </div>
        </section>



       <section class="section ">
            <div class="container">

                <h3 class="title is-3 has-text-centered">Our Client List</h3>

                <div class="columns">
                  
            {% for block in entry.testimonials %}
            <div class="column is-half">
                
                {% if block.type == "testimonial" %}

                 {% set image = block.headshot.first() %}
                         
                      <p>{{ block.quote }}</p>

                       <div class="columns">

                            <div class="is-four-fifths">
                                <figure class="image is-96x96" style="width: 100px; margin: 0 auto 50px auto;">
                                    <img src="{{image.url}}">
                                </figure>
                            </div>

                            <div>
                                <div><span class="name">{{ block.personsName }}</span></div>
                                <span class="company-name">Apple // {{ block.personsCompany }}</span>
                            </div>
                       
                       </div> 
     

                  {% endif %} 
                </div>           
            {% endfor %}       

                     
                </div>
                    

            </div>
          </section>

        
            
{% endblock %}