{% extends '_layouts/main' %}

{% block main %}


    <section class="hero is-medium is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
              
              </h1>
              <h1 class="subtitle is-1">
              {% for entry in craft.entries.section('homepage') %}
                  {{ entry.heroHeader }}
              </h1>
              
              <p> {{ entry.heroSubheader }}</p>



              <a href="{{ entry.heroButtonLink }}" class="button">{{ entry.heroButtonText }}</a>

              
            </div>
          </div>

          <div id="logos">

            <ul>
             <li>
                <figure class="image">
                    {% for asset in entry.heroLogoOne %}
                        
                        <img src="{{asset.url}}">

                    {% endfor %}
                </figure>
              </li>
              <li>
                <figure class="image">
                    {% for asset in entry.heroLogoTwo %}
                        
                        <img src="{{asset.url}}">

                    {% endfor %}
                </figure>
              </li>
              <li>
                <figure class="image">
                    {% for asset in entry.heroLogoThree %}
                        
                        <img src="{{asset.url}}">

                    {% endfor %}
                </figure>
              </li>
              <li>
                <figure class="image">
                    {% for asset in entry.heroLogoFour %}
                        
                        <img src="{{asset.url}}">

                    {% endfor %}
                </figure>
              </li>
              <li>
                <figure class="image">
                    {% for asset in entry.heroLogoFive %}
                        
                        <img src="{{asset.url}}">

                    {% endfor %}
                </figure>
              </li>
             
            </ul>

            

          </div>
          

        </div>
      </div>
    </section>


    <section class="section">
      <div class="container">
          
        <h2 class="title is-2">Services</h2>

          <div class="columns">
              
              {% for entry in craft.entries.section('services').limit(4).all() %}
              
              <div class="column">
                  <a href="{{ entry.url }}">
                  {% for asset in entry.homePageIcon %}

                         <img src="{{asset.url}}">

                        {% endfor %}
                <h3 class="title is-3">{{ entry.title }}</h3>
                  <p>{{ entry.TeaserText }}</p>
                  </a>
              </div>

               {% endfor %}     
              
            </div>
      </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <figure class="image is-228x228">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                      </figure>
                </div>
                <div class="column">
                    {% for entry in craft.entries.section('homepage') %}
                    <h3 class="title is-3">{{ entry.aboutMelissaHeader }}</h3>
                    {{ entry.aboutMelissaIntro }}
                    <a class="button is-primary">Learn More</a>

                    {% endfor %}

                  </div>  
        </div>
      </section>

      <section class="section">
          <div class="container">

          {% if entry.homeNumbers|length %}

          {% if entry.homeNumbersDescription|length %}

           <div class="columns">
                  <div class="column">
                      <div><span class="number"> 
                        {% for row in entry.homeNumbers %}
                        {{ row.numberOne }} 
                        {% endfor %}
                      </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberOneDescription }} 
                        {% endfor %}
                      </span>
                  </div>
                  <div class="column">
                      <div><span class="number"> 
                       {% for row in entry.homeNumbers %}
                        {{ row.numberTwo }} 
                        {% endfor %}
                       </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberTwoDescription }} 
                        {% endfor %}
                      </span>
                  </div>
                  <div class="column">
                     <div><span class="number"> 
                       {% for row in entry.homeNumbers %}
                        {{ row.numberThree }} 
                        {% endfor %}
                       </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberThreeDescription }} 
                        {% endfor %}
                      </span>
                  </div>
                  <div class="column">
                      <div><span class="number"> 
                       {% for row in entry.homeNumbers %}
                        {{ row.numberFour }} 
                        {% endfor %}
                       </span></div>
                      <span class="number-name">
                         {% for row in entry.homeNumbersDescription %}
                        {{ row.numberFourDescription }} 
                        {% endfor %}
                      </span>
                  </div>
            </div>
               

                
            {% endif %}       
                
            {% endif %}
          
             
          </div>
        </section>

        

        <section class="section has-text-centered">
            <div class="container">

            {% for block in entry.testimonials %}
            
                
                {% if block.type == "testimonial" %}

                 {% set image = block.headshot.first() %}
              
                <div class="column is-horizontal-center">
                    <figure class="image is-96x96" style="width: 100px; margin: 0 auto 50px auto;">
                        <img src="{{image.url}}">
                      </figure>
                      <p>
                        
                            {{ block.quote }}
                        
                      </p>
                      <div><span class="name">{{ block.personsName }}</span></div>
                      <span class="company-name">{{ block.personsCompany }}</span>
                  </div>

                  {% endif %} 
            
            {% endfor %}       

            </div>
          </section>


           {% endfor %} {# had to do this for homepage...not sure why...possibly a cleaner solution #}

            
{% endblock %}